# Dépendances
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist
build
.cache

# Système
.DS_Store
*.log
.env*
.git
.gitignore

# IDE
.idea
.vscode

# Divers
README.md
Dockerfile
.dockerignore
certificates